In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df=pd.read_excel('C:/Users/Admin/Desktop/Jupyter/crop_with_soil.xlsx')
df.head()

    N   P   K  temperature   humidity        ph    rainfall label      soil
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice  alluvial
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice  alluvial
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice  alluvial
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice  alluvial
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice  alluvial

In [2]:

dfle = df
dfle.label = le.fit_transform(dfle.label)
dfle.soil = le.fit_transform(dfle.soil)
dfle

       N   P   K  temperature   humidity        ph    rainfall  label  soil
0     90  42  43    20.879744  82.002744  6.502985  202.935536     16     0
1     85  58  41    21.770462  80.319644  7.038096  226.655537     16     0
2     60  55  44    23.004459  82.320763  7.840207  263.964248     16     0
3     74  35  40    26.491096  80.158363  6.980401  242.864034     16     0
4     78  42  42    20.130175  81.604873  7.628473  262.717340     16     0
...   ..  ..  ..          ...        ...       ...         ...    ...   ...
1795  87  44  43    23.874845  86.792613  6.718725  177.514731      7     0
1796  88  52  39    23.928879  88.071123  6.880205  154.660874      7     0
1797  90  39  37    24.814412  81.686889  6.861069  190.788639      7     0
1798  90  39  43    24.447439  82.286484  6.769346  190.968489      7     0
1799  84  38  43    26.574217  73.819949  7.261581  159.322307      7     0

[1800 rows x 9 columns]

In [3]:
X=df.drop('label',axis=1)
Y=df.label

In [4]:
Y

0       16
1       16
2       16
3       16
4       16
        ..
1795     7
1796     7
1797     7
1798     7
1799     7
Name: label, Length: 1800, dtype: int32

In [5]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [6]:
model_params = {
    'svm': {
        'model': svm.SVC(gamma='auto'),
        'params' : {
            'C': [1,10,20],
            'kernel': ['rbf','linear']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,2,3,4,5,6,7,8,9,10]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    },
    'naive_bayes_gaussian': {
        'model': GaussianNB(),
        'params': {}
    },
    'naive_bayes_multinomial': {
        'model': MultinomialNB(),
        'params': {}
    },
    'decision_tree': {
        'model': DecisionTreeClassifier(),
        'params': {
            'criterion': ['gini','entropy'],
            
        }
    },
    'Knn': {
        'model': KNeighborsClassifier(),
        'params': {
            'n_neighbors': [1,3,5,10],
            'weights':['uniform', "distance"]
            
        }
    }
}

In [7]:
from sklearn.model_selection import GridSearchCV
import pandas as pd
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(X, Y)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
df2 = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df2

,model,best_score,best_params
0,svm,0.986111,"{'C': 1, 'kernel': 'linear'}"
1,random_forest,0.993333,{'n_estimators': 8}
2,naive_bayes_gaussian,0.994444,{}
3,naive_bayes_multinomial,0.938333,{}
4,decision_tree,0.993333,{'criterion': 'gini'}
5,Knn,0.985000,"{'n_neighbors': 3, 'weights': 'uniform'}"