In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df=pd.read_excel('C:/Users/Admin/Desktop/Jupyter/crop_with_soil.xlsx')
df

       N   P   K  temperature   humidity        ph    rainfall label      soil
0     90  42  43    20.879744  82.002744  6.502985  202.935536  rice  alluvial
1     85  58  41    21.770462  80.319644  7.038096  226.655537  rice  alluvial
2     60  55  44    23.004459  82.320763  7.840207  263.964248  rice  alluvial
3     74  35  40    26.491096  80.158363  6.980401  242.864034  rice  alluvial
4     78  42  42    20.130175  81.604873  7.628473  262.717340  rice  alluvial
...   ..  ..  ..          ...        ...       ...         ...   ...       ...
1795  87  44  43    23.874845  86.792613  6.718725  177.514731  jute  alluvial
1796  88  52  39    23.928879  88.071123  6.880205  154.660874  jute  alluvial
1797  90  39  37    24.814412  81.686889  6.861069  190.788639  jute  alluvial
1798  90  39  43    24.447439  82.286484  6.769346  190.968489  jute  alluvial
1799  84  38  43    26.574217  73.819949  7.261581  159.322307  jute  alluvial

[1800 rows x 9 columns]

In [2]:
df['label'] = le.fit_transform(df.label)
df['soil'] = le.fit_transform(df.soil)
x=df.groupby(['soil'])
x.first()

        N    P    K  temperature   humidity        ph    rainfall  label
soil
0      90   42   43    20.879744  82.002744  6.502985  202.935536     16
1      40   72   77    17.024985  16.988612  7.485996   88.551231      3
2      24  128  196    22.750888  90.694892  5.521467  110.431786      0
3      18   30   29    26.762749  92.860569  6.420019  224.590366      4
4     115   17   55    27.578269  94.118782  6.776533   28.082532     11

In [3]:
X=df.drop('label',axis=1)
Y=df.label
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=100)
model.fit(X_train,y_train)

RandomForestClassifier()

In [4]:
model.score(X_test,y_test)

0.9916666666666667

In [5]:
n=int(input("Enter Nitrogen content"))
p=int(input("Enter Phosphorous content"))
k=int(input("Enter potassium content"))
temp=float(input("Enter temperature"))
humid=float(input("Enter humidity"))
ph=float(input("Enter ph"))
rain=float(input("Enter rain in mm"))
print('0.Alluvial Soil\n1.Black Soil\n2.forest\n3.laterite\n4.red')
soil=int(input('enter soil type'))

Enter Nitrogen content67
Enter Phosphorous content78
Enter potassium content76
Enter temperature22
Enter humidity87
Enter ph6
Enter rain in mm202
0.Alluvial Soil
1.Black Soil
2.forest
3.laterite
4.red
enter soil type3

In [6]:
x=[[n,p,k,temp,humid,ph,rain,soil]]

In [7]:
i=model.predict(x)
i

C:\Python311\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([13])

In [8]:
a=['apple','banana','blackgram','chickpea','coconut','cotton','grapes','jute','lentil','maize','mango','muskmelon','orange','papaya','pigeonpeas','pomegranate','rice','watermelon']
l=a[i[0]]
l

'papaya'

In [9]:
df=pd.read_excel('C:/Users/Admin/Desktop/Jupyter/crop_prices_final.xlsx')
df.head()

           state  crop       avg
0          Assam  rice  2942.000
1        Manipur  rice  3800.000
2         Odisha  rice  2133.333
3        Tripura  rice  2600.000
4  Uttar Pradesh  rice  2435.000

In [10]:
def max_price(crop_name):
    y=df[df.crop==crop_name]
    z=y.avg.max()
    return z
x=max_price(l)
def state(x,crop_name):
    y=df[df.crop==crop_name]
    z1=y[['avg']].idxmax()
    p=int(z1['avg'])
    return df.iloc[p].state
x

2550.0

In [11]:
state(x,l)

'Himachal Pradesh'